/*main_css*/

.main-logo-div {
    display: flex;
    margin: 0 auto;
    gap: .5rem;
    color: rgb(var(--white));
    align-items: center;

    img {
        width: 2.5rem;
        flex-shrink: 0;
    }

    > div {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        h2 {
            font-size: var(--ftRem);
        }

        p {
            font-size: var(--ftUp);
            font-weight: bold;
        }
    }
}

/* 메인화면_검색창 */
#mainSearch {
    background: url(/common/img/main_back_01.png) no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    
    [data-main-title-texts] {
        font-size: var(--ftUp);
        color: rgb(var(--white));
        margin: 2.2rem 0 2.4rem;
    }

    &:after {
        content: '';
        display: block;
        background-color: rgba(var(--bgBlack), .63);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
}

#mainSearchInner {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9;
}
    
.main-search-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: rgba(var(--white),1);
    margin: 3.8rem 0 0;

    h2 [data-lang-type].show {
        font-size: 2rem;
    }

    p {
        font-size: var(--ftUp);
    }
}  

.main-search-bar {
    width: fit-content;
    display: flex;
    border: 1px solid rgba(var(--white),1);
    border-radius: .5rem;
    overflow: hidden;
    background: rgba(var(--white),1);

    input {
        background: rgba(var(--white),1);
        padding: .5rem;
        outline: 0;
        width: 16.4rem;
    }

    button {
        color: rgba(var(--white),1);
        padding: .8rem;
        cursor: pointer;
        border: 1px solid rgb(var(--white));
        border-radius: 0 .5rem .5rem 0;
        background: rgb(var(--black));
        width: 4.4rem;
    }

    svg {
        display: none;
    }
}

/* 메인 - 아카이브 소개 */

#mainIntro {
    padding: 7.7rem 0 6.4rem;
    display: flex;
    flex-direction: column;
}

.main-intro-logo-div {
    display: flex;
    margin: 0 auto 1.5rem;
    gap: .5rem;
    color: rgb(var(--marineblue));
    align-items: center;

    img {
        width: 2.5rem;
        flex-shrink: 0;
    }

    > div {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        h2 {
            font-size: var(--ftRem);
        }

        p {
            font-size: var(--ftUp);
            font-weight: bold;
        }
    }
}

[data-main-intro-texts] {
    margin: 3.5rem auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.8rem .8rem;
}

[data-main-intro-item] {
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
        height: 14rem;
        object-fit: cover;
    }

    p {
        font-size: var(--ftMain);
        line-height: 1.65;
    }

    .main-item-subtitle {
        margin: 1.2rem 0 1rem;
    }

    .main-item-title {
        font-size: var(--ftTitleDown);
        margin-bottom: .5rem;
    }
}


.main-more-button {
    margin:0 auto;
    border: 1px solid rgba(var(--black),1);
    padding: 0.4rem .85rem;
    display:flex;
    font-size: .8rem;
    align-items:center;
    cursor:pointer;
    font-family:"BN";
    font-weight:normal;
    isolation: isolate;
}

/* 주제별 기록물 */

#mainSubj {
    width: 100%;
    background-image: url(/common/img/main_cate_back.jpg);
    background-size: cover;    
    color: rgb(var(--white));
    position: relative;
    padding: 6.3rem 0 5.8rem 0;

    &:after {
        content:'';
        display: block;
        background-color: rgba(var(--bgBlack), .63);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .web-common-inner {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 9;
    }

    [data-section-head-title] {
        margin: 0 auto 4rem;

    }

}

.main-subj-texts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2.25rem;
}

[data-subj-list] {
    display: flex;
    flex-direction: column;

}

[data-subj-subtitle] {
    padding: .6rem 1.1rem;
    background-color: rgb(var(--bgBlack));
    border: 1px solid rgb(var(--white));
    border-radius: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

[data-subj-item] {
    padding: .85rem 1.2rem;
    width: 100%;
    background-image: url(/common/img/arr_r_w.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    cursor: pointer;

    &:hover {
        background-color: rgba(var(--white), .025);
    }
}

/* 디지털 소장자료 */

#mainDigital {
    padding-bottom: 4.4rem;

    [data-section-head-title] {
        margin: 7rem auto 3.4rem auto;
    }

    .web-common-inner {
        display: flex;
        flex-direction: column;
    }
}

[data-main-digital-list] {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: .8rem .45rem;

    > img {
        width: 100%;
        object-fit: cover;
        
    }

    .tl01, .tl02, .tl03 {
        grid-row: 1 / 3;
    }

    .tl04-tp {
        grid-row: 1 / 2;
        grid-column: 4 / 5;        
    }

    .tl04-bt {
        grid-row: 2 / 3;
        grid-column: 4 / 5;
    }

    .bl01-tp {
        grid-row: 3 / 4;
    }

    .bl01-bt {
        grid-row: 4 / 5;
    }

    .bl02 {
        grid-column: 2 / 4;
    }

    .bl02, .bl03, .bl04 {
        grid-row: 3 / 5; 
    }
}

[data-main-digital-item]:hover [data-main-digital-texts] {
    display: flex;
}

[data-main-digital-texts] {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgba(var(--white), 1);
    background-color: rgba(var(--black), .5);
    padding: 0 1.65rem;

    h4 {
        font-size: var(--font18);
        // margin-bottom: 1.2rem;
    }
}

ul[data-main-digital-textlist] {
    display: flex;
    flex-direction: column;

    li {
        line-height: 1.6;
        font-size: var(--font13);

        &:before {
            content: '-';
            display: inline-block;
            margin-right: 0.15rem;
        }

        &:first-child {
            &:before {
                content: '';
                display: none;
            }   
        }
    }
}

[data-main-digital-name] {
    margin-bottom: .5rem;
    font-weight: bold;
}

[data-main-digital-item] {
    position: relative;

    > img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        position: absolute;
        // aspect-ratio: 1 / 0.68;
    }

    &.tl04-tp, &.tl04-bt, &.bl01-tp, &.bl01-bt {
        aspect-ratio: 1/0.8;
        // aspect-ratio: 1 / 0.8;

        > img {
            object-fit: cover;
        }
        
    }
}

[data-main-digital-morebutton] {
    background-color: rgba(var(--black), 1);
    color: rgba(var(--white), 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .6rem;
    border-radius: 1rem;
    margin-top: 1.35rem;

    > span {
        display: inline-block;
        background-image: url(/common/img/cate_arr.svg);
        background-repeat: no-repeat;
        background-size: .3rem;
        background-position: center right;
        cursor: pointer;
        width: .4rem;
        height: .75rem;
        margin-left: 1.2rem;
    }
}






[data-mobile-none]{
    display:inline-block;
    margin-left:.5rem;
}



/* main.css mediaquery */


@media (max-width: 1279px) {
    body .hd-logo-div {
        left: 2rem;
    }

    body .hd-search-bar, body [data-nav-exhibition], body nav {
        left: 2rem;
        width: calc(100% - 4rem);
    }

    body [data-subj-item] {
        padding: .85rem 0;
    }

    body .main-subj-texts {
        gap: 1.6rem;
    }
}

@media (max-width: 1023px) {
    
}

@media (max-width: 767px) {

    .span-block {
        display: block;
    }

    [data-mobile-none] {
        display: none;
    }

}

@media (max-width: 479px) {
    
}

/*main.css End*/