/*digital.css*/

.searchArchive-img{
    background-image: url(/common/img/main_subject_back3.jpg) ;
}

//컨텐츠 영역

#searchArchive{
    margin: 4.7rem;

}

#searchArc-content-inner{
    width: 1024px;
    margin: 0 auto;
}

.searchArc-content-title{
    font-size: var(--font28);
    color: rgba(var(--royalblue), 1);
    font-weight: bold;
    margin-bottom:2.5rem;
    display: flex;
    align-items: baseline;
}

.searchArc-content-box{
    display: flex;
    flex-flow: row wrap;
    gap:.75rem;

    .searchArc-item-title{
        font-size:var(--font20);
        font-weight:normal;
        padding:.75rem 1rem;
        text-align:left;
        background:rgba(var(--black), .075);
        // background:#efefef;
        width:100%;
        
    }
    p{
        padding:.25rem .5rem;
        color:rgba(var(--black), .9);
        font-size:var(--font16);
        line-height:1.5;

        &.show{
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            word-break: keep-all;
            height: 6rem;
        }
    }
    .searchArc-item-buttons{
        margin:.5rem 0 2.5rem;
        display:grid;
        align-items:center;
        grid-template-columns: 1fr 1fr;
        grid-gap:.5rem;
        justify-content: right;
        margin-left:auto;

        button{
            width:10rem;
            height:2.25rem;
            border-radius:2rem;
            color:rgba(var(--white),1);
            display:grid;
            grid-template-columns:1fr 2rem;
            align-items:center;
            padding-left: 1rem;

            &:hover{
                opacity:.9;
            }

            svg{
                fill:rgba(var(--white),1);
            }
            &:first-child{
                background:rgba(var(--royalblue),1);
            }
            &:last-child{
                background:#b1b1b1;
            }
        }
    }
}



/*searchArchive.css media*/
@media (max-width: 1079px) {}

@media (max-width: 1023px) {

    #searchArc-content-inner {
        width: 100%;
        padding: .5rem;
        font-size: var(--font14);
    }
}

@media (max-width: 767px) {

    #searchArchive {
        margin: 2rem 0;
    }

    .searchArc-content-title {
        font-size: var(--font18);   

    }

    .searchArc-content-box .searchArc-item-buttons button{
        width: 8.5rem;
        height: 2rem;
    }

    .searchArc-content-box {
        
        .searchArc-item-title{
            font-size:var(--font16);
        }

        p{
        font-size: var(--font14);
        padding: 1rem 0.25rem;
        }
    }



    #searchArc-content-inner {
        font-size: var(--font14);
    }


}

@media (max-width: 479px) {
    // .searchArc-content-box .searchArc-item-buttons{
    //     grid-template-columns:1fr;
    // }
}
