
/*footer.css*/
footer {
    display: flex;
    justify-content: start;
    width: 100%;
    background-color: rgb(var(--bgBlack));
    color: rgb(var(--white));
    padding: 4rem 0 3.2rem 0;
    letter-spacing: 1px;

    .web-common-inner {
        width: 100%;
    }

    img {
        height: 4rem;
        object-fit: contain;
        width: 9rem;
        box-sizing: content-box;
    }

    .footer-text-side {
        display: flex;
        flex-direction: column;
        gap: .7rem;
        padding: .1rem 1.7rem;
        
        p {
            font-size: var(--ftMain);
            text-align: left;
            color: rgb(var(--white));
            font-family: 'PT';
            font-weight: 300;
            word-break: keep-all;

            &.footer-text-bold {
                font-weight: bold;
            }
        }
    }
    
    .footer-right-side {
        margin-left: auto;
        min-width: 5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .footer-web-links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .footer-outer-link {
        padding: .35rem 0;
        cursor: pointer;

    }

    #langSelector {
        display: flex;
        justify-content: flex-end;
        gap: .3rem;
        margin-top: 0.5rem;
        width: fit-content;
        grid-template-columns: repeat(3, 1fr);

        button {
            width: 1.4rem;

            img {
                width: 100%;
                height: auto;
                width: 1.4rem;
                padding: 0;
            }
        }
    }
    
}

@media (max-width: 768px) {
    body footer {
        height: auto;
        padding-top: 1.75rem;

        img {
            width: 7.6rem;
        }

        .web-common-inner {
            flex-direction: column;
            gap: 1.8rem;
            padding: 1.2rem;
        }

        .footer-text-side {
            padding: 0;
            gap: .25rem;

            > p {
                font-size: var(--font14);
                line-height: 1.5;
            }
        }

        .footer-right-side {
            align-items: flex-start;
            margin-left: 0;
        }

        .footer-web-links {
            align-items: flex-start;
            flex-direction: row;
            margin-bottom: 1rem;

            .footer-outer-link {
                padding: .05rem 0;

                &:last-child {
                    padding: .05rem 0 .05rem .5rem;
                    margin-left: .5rem;
                    border-left: 1px solid rgb(var(--white));
                }
            }
        }
    }

    

    
}