/*header.css*/
body header.web-common-inner {
    width: 21.5rem;
    position: fixed;
    background-color: rgba(var(--bgBlack), 1);
    height: 100vh;
    top: 0;
    left: 0;
    padding: 0 4rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.header-web-links{
    display:flex;
    gap:1rem;
    align-items:center;
    justify-content: flex-end;
}

.hd-logo-div {
    position: absolute;
    top: 15.5%;
    left: 4.8rem;
    align-items: center;
    gap: .5rem;
    cursor:pointer;
    display: flex;
    flex-direction: column;

    img {
        width: 5.2rem;
        object-fit: contain;
    }

    h2 {
        font-size: 1rem;
        color: rgb(var(--white));
    }

    p {
        color: rgba(var(--white), 1);
        font-size: 10px;
        font-weight: bold;
    }
    
}

.hd-search-bar {
    position: absolute;
    bottom: calc(50% + 2rem);
    left: 4.8rem;
    display: flex;
    height: fit-content;
    border-radius: 2rem;
    justify-content: space-between;
    width: calc(100% - 9.6rem);
    background-color: rgba(var(--white), 1);

    input {
        outline: 0;
        border: none;
        padding: 0.6rem 1.2rem .6rem 0;
        width: 100%;

    }

    button {
        outline: 0;
        border: none;
        font-size: var(--font13);
        padding: .3rem .8rem;

        svg {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}

.hd-language-select {
    padding: 0.3rem 1.2rem 0.2rem 0.7rem;
    background: rgba(var(--marineblue), 1);
    color: rgba(var(--white), 1);
    font-size: var(--font13);
    border-radius: 1rem;
    background: url(/common/img/arrow-down-w.svg) no-repeat rgba(var(--marineblue), 1);
    background-position: 88% center;
}


[data-nav-exhibition] {
    position: absolute;
    bottom: 6.5rem;
    left: 4.8rem;
    border: 2px solid rgba(var(--white), 1);
    border-radius: 2rem;
    color: rgba(var(--white), 1);
    padding: .5rem 0;
    width: calc(100% - 9.6rem);
    font-weight: bold;
    display: flex;
    justify-content: center;
}

nav {
    width: calc(100% - 9.6rem);
    position: absolute;
    top: 50%;
    left: 4.8rem;

    > ul.web-common-inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;        
        border-right: 3px solid rgb(var(--white));
    }

    li {
        color: #fff;
        font-size: var(--ftMain);
        text-align: left;
        cursor: pointer;
        font-weight: bold;
        width: 100%;
        padding: .6rem 0;

        a {
            color: rgba(var(--white), .8);
            padding-left: .4rem;
            display: flex;

            span {
                margin-left: .4rem;
                font-weight: normal;
            }
        }
    }
}

[data-nav-sublist] {

    ul {
        margin-top: .5rem;

        li {
            padding: .3rem 0;
        }
    }
    
}

.hd-subnav-hidden {
    display: none;
}

.hd-subnav-show {
    display: block;
}

/* 모바일전용헤더 */

#mobile-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background: rgb(var(--bgBlack));
    z-index: 999;
    justify-content: center;
    align-items: center;

    .mob-logo-img{
        width:1.5rem;
    }
}

.mob-logo-div {
    display: flex;
    gap: .5rem;

    > div {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: .15rem;
        color: rgb(var(--white));
    }

    h2 {
        font-size: var(--ftMain);
    }

    p {
        font-size: var(--ftMin);
    }

}

#mobile-burger-button{
    position: absolute;
    top: 50%;
    left: 4rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    span {
        display: block;
        width: 1.2rem;
        height: .2rem;
        background: rgb(var(--white));
        border-radius: 1rem;
   }
}

.mob-menu-show {
    display: block;
    top: 3rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(var(--royalblue),.5);
    filter: drop-shadow(7px 20px 14px rgba(var(--royalblue), 0.5));
}


/* mediaquery */

@media (max-width: 1279px) {

    body header.web-common-inner {
        width: 16rem;
    } 
    
  }

@media (max-width: 1023px) {
    #mobile-header {
        display: flex;
    }

    body header.web-common-inner {
        display: none;
        position: fixed;
        width: 100%;
        height: auto;
        z-index: 9;
    }
}

@media (max-width: 767px) {


}

@media (max-width: 479px) {

}