/*프리텐다드*/
@font-face {
  font-family: "PT";
  font-weight: normal;
  src: url("/common/font/Pretendard-Regular.woff") format("truetype");
}

@font-face {
  font-family: "PT";
  font-weight: bold;
  src: url("/common/font/Pretendard-Bold.woff") format("truetype");
}

@font-face {
  font-family: "PT";
  font-weight: 100;
  src: url("/common/font/Pretendard-Light.woff") format("truetype");
}

@font-face {
  font-family: "PT";
  font-weight: 900;
  src: url("/common/font/Pretendard-Black.woff") format("truetype");
}

/* 영문폰트 - Browallia New */
@font-face {
  font-family: "BN";
  font-weight: normal;
  src: url("/common/font/browa.ttf") format("truetype");
}

@font-face {
  font-family: "BN";
  font-weight: bold;
  src: url("/common/font/browab.ttf") format("truetype");
}

body {
  font-family: var(--PT);
  font-weight: normal;
  margin: 0 auto;
  word-break: keep-all;
  padding-left: 21.5rem;
}

button {
  cursor: pointer;
}

.web-common-inner {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
}

.web-inner-depth {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
}


//btn style
.round_btnStyle {
  background-color: rgba(var(--royalblue), 1);
  color: rgba(var(--white), 1);
  border-radius: 25rem;
  padding: .8rem;

  &:hover{
    opacity:.9;
  }
}

.Square_btnStyle {
  background-color: rgba(var(--royalblue), 1);
  color: rgba(var(--white), 1);
  border-radius: .25rem;
  padding: .8rem;

}

//서브페이지 네비영역 이미지
#back_img {
  height: 20rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;


  #back_img_inner {
    position: absolute;
    width: 100%;
    height: inherit;
    bottom: 0;
    background-color: rgba(var(--bgBlack), .63);
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;

    hgroup {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;

      [data-search-subtitle] {
        margin: 0 auto 1rem auto;
      }
    }
  }

  h3 {
    color: rgba(var(--white), 1);
    font-size: var(--ftTitle);
    position: relative;
    z-index: 1;
  }

}

//선택언어 show 기능
[data-lang-type] {
  display: none;
}

[data-lang-type].show {  
  display: -webkit-box;
  font-size: inherit;
  
}

/* 페이저 */

[data-board-pager]{
  margin:2rem auto 4rem;
  display:flex;
  gap:.25rem;
  align-items:center;
  justify-content:center;
  padding-top: 0.75rem;
  
  a{
    color:rgba(var(--black),1);
  }

  > *{
      cursor:pointer;
      display: flex;
      gap: 0.5rem;
  }
  .button-outta-focus{
      margin:0 .5rem;
  }
}

#paging li {
  padding: .25rem;

  &.on {
    background-color: rgba(var(--royalblue), 0.15);
  }
}

[data-section-head-title] {
  font-size: var(--ftTitle);
  margin: 0 auto;
}

/* 하단 가상전시관 바로가기 공통영역 */

#viewVrEx {
  width: 100%;
  height: 10.4rem;
  position: relative;
  background-image: url(/common/img/view_vr_back.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .web-common-inner {
    width: 100%;
    justify-content: center;
  }

  &:after {
    content: '';
    display: block;
    background-color: rgba(61, 33, 33, .72);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  button {
    background-color: rgba(var(--bgBlack), .87);
    width: 100%;
    max-width: 30.4rem;
    border: 2px solid rgb(var(--white));
    border-radius: 2rem;
    font-size: var(--ftRem);
    color: rgb(var(--white));
    font-weight: bold;
    position: relative;
    z-index: 9;
    padding: 1rem 0;
  }
}


/* common mediaquery */
@media (max-width: 1280px) {
  body {
    padding-left: 16rem;
  }

  .web-common-inner {
    max-width: 40.8rem;
  }
}

@media (max-width: 1024px) {
  body {
    padding-left: 0
  }

  .web-common-inner {
    width:100%;
    padding: 0 .8rem;
  }

}

@media (max-width: 768px) {

  #viewVrEx {
    height: 6.4rem;

    button {
      font-size: var(--ftMain);
      padding: .6rem 0;
    }
  }

  [data-section-head-title] {
    font-size: var(--ftTitleM);
  }

  body #wrap .web-common-inner {
    padding: 1.2rem;
  }
}

@media (max-width: 479px) {

}
